<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fraud Detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
  <!-- الصفحة الأولى -->
  <div class="page active" id="page1">
    <h1>Fraud Detection</h1>
   
    <div class="upload-box">
      <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <br>
        <button type="submit">Detect</button>
      </form>
    </div>
  </div>

  <!-- الصفحة الثانية (Dashboard) -->
  <div class="page" id="page2">
    <div class="container">
      <div class="sidebar">
        <button class="active" onclick="goToPage(2)">Dashboard</button>
        <button onclick="goToPage(3)">Statistic</button>
        <button onclick="goToPage(3)">Summary</button>
      </div>
      <div class="content">
        <h2>Transactions Table</h2>
        <table id="resultsTable">
          <thead>
            <tr>
              <th>step</th>
              <th>type</th>
              <th>amount</th>
              <th>oldbalanceOrg</th>
              <th>newbalanceOrig</th>
              <th>predicted_fraud</th>
            </tr>
          </thead>
          <tbody>
            <!-- Rows will be injected by JS -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- الصفحة الثالثة (Summary) -->
  <div class="page" id="page3">
    <div class="container">
      <div class="sidebar">
        <button onclick="goToPage(2)">Dashboard</button>
        <button class="active" onclick="goToPage(3)">Statistic</button>
        <button onclick="goToPage(3)">Summary</button>
      </div>
      <div class="content">
        <h2>Summary</h2>
        <p id="summary">
          هنا تعرضين ملخص النتائج والإحصائيات الخاصة بالكشف عن الاحتيال.
        </p>
      </div>
    </div>
  </div>

  
</body>
</html>